{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "tsconfigRootDir": ".",
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "18.x"
    }
  },
  "rules": {
    "@typescript-eslint/unbound-method": "off",
    "import/default": "off",
    "linebreak-style": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "jsxBracketSameLine": false,
        "endOfLine": "lf",
        "singleQuote": true,
        "tabWidth": 2,
        "indentStyle": "space",
        "useTabs": false
      }
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ],
    "@typescript-eslint/no-floating-promises": "off",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "object-shorthand": "error",
    "no-console": "warn",
    "import/order": [
      1,
      {
        "newlines-between": "always",
        "groups": [
          "external",
          "builtin",
          "internal",
          "parent",
          "index",
          "sibling"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "*/components",
            "group": "internal"
          },
          {
            "pattern": "@/shared/assets/**",
            "group": "sibling",
            "position": "after"
          }
        ]
      }
    ],
    "react/display-name": "off"
  }
}
