@use "abstracts" as *;

.container {
  background-color: $color-pink-200;
  cursor: text;

  &:not([data-variant="active"]) {
    cursor: not-allowed;
  }

  &[data-variant="disabled"] {
    background-color: $color-purple-900;
  }

  &[data-variant="incorrect"] {
    background-color: $color-purple-900;
  }

  &[data-variant="correct"] {
    background-color: $color-green-900;
  }

  &[data-variant="bad-position"] {
    background-color: $color-pink-900;
  }

  width: 4.5rem;
  height: 4.5rem;
  
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  outline: none;
}
