@use "abstracts" as *;

.container {
  display: flex;
  gap: 1rem;
}

.attempt {
  display: flex;
  place-items: center;
  gap: 1rem;

  button {
    border-radius: 8px;
    padding: 1rem;
    border: 2px solid #26d1d1;
    color: #fff;
    background: black;
  }
}

.title {
  font-size: 20px;
  color: #fff;
}
