.overlay {
  inset: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0rem;
  background:rgba(0, 0, 0, 0.64);
  backdrop-filter: blur(2px);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}