@use 'abstracts' as *;

.overlay {
  inset: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  transition: all;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  background: linear-gradient(180deg, #3EC863 0%, #212121 76.37%);


  inset: 0;
  max-width: 350px;
  min-width: 350px;
  height: 410px;
  padding: 2.6rem 1.5rem;

  .title {
    font-size: 4rem;
    font-weight: 500;
    color: $color-gray-900;
  }

  .wordContainer {
    display: flex;
    gap: 10px;

    span {
      width: 5.5rem;
      height: 5.5rem;
      font-size: 4.5rem;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .explanation {
    color: $color-gray-100;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.contentExplanation {
  background: linear-gradient(180deg, #212121 92.23%, #3EC863 100%);

  .wordContainer {
    span {
      width: 4.5rem;
      height: 4.5rem;
      font-size: 3.5rem;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}