@use 'abstracts' as *;

.content {
  transition: all;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  border-radius: 0.4rem;
  border: 2px solid var(--gray-700, #2B2B2B);
  background: #000;


  inset: 0;
  max-width: 350px;
  min-width: 350px;
  height: 410px;
  padding: 2.6rem 1.5rem;

  .title {
    font-size: 4rem;
    font-weight: 500;
    color: $color-gray-100;
  }

  .wordContainer {
    display: flex;
    gap: 10px;

    span {
      width: 5.5rem;
      height: 5.5rem;
      font-size: 4.5rem;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .explanation {
    color: $color-gray-100;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

.contentExplanation {
  background: #000;

  .wordContainer {
    span {
      width: 4.5rem;
      height: 4.5rem;
      font-size: 3.5rem;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}