$color-green-900: #3ec863;
$color-green-300: #64b684;
$color-gray-700: #1c1c1c;
$color-gray-800: #2b2b2b;
$color-gray-900: #212121;
$color-gray-100: #7e7171;
$color-gray-transparent-100: rgba(207, 201, 249, 0.2);
$color-pink-900: #b858b4;
$color-pink-700: #b879cc;
$color-pink-500: #bb9ae3;
$color-pink-200: #cfc9f9;
$color-pink-transparent-300: rgba(207, 201, 249, 0.55);
$color-pink-transparent-900: rgba(184, 88, 180, 0.3);

$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

$text-font-stack: "Poppins", "Arial", sans-serif !default;
