$color-green-900: linear-gradient(to bottom, #00fe44 0%,#299e48 100%);
$color-green-300: #64b684;
$color-gray-900: #000000;
$color-gray-800: #1c1c1c;
$color-gray-700: #2b2b2b;
$color-gray-600: #151313;
$color-gray-200: #807d97;
$color-gray-100: #ececec;
$color-gray-transparent: #000000;
$color-yellow-900: linear-gradient(to bottom, #ffe927 0%,#ffdbb0 100%);
$color-yellow-800: #ffe927;
$color-brow-500: #706969;

$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

$text-font-stack: "Poppins", "Arial", sans-serif !default;
