@use "abstracts" as *;

.root {
  border-radius: 4px;

  background: $color-gray-800;

  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: grid;
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  column-gap: 15px;
  gap: 6px;
  align-items: center;

  $border-variants: (
    error: $color-red-800,
    success: $color-green-800,
    info: $color-gray-200,
    warning: $color-yellow-800,
  );

  @each $type, $color in $border-variants {
    &[data-variant="#{$type}"] {
      border: 1px solid #{$color};
    }
  }

  &[data-state="open"] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state="closed"] {
    animation: hide 100ms ease-in;
  }

  &[data-swipe="move"] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }

  &[data-swipe="cancel"] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }

  &[data-swipe="end"] {
    animation: swipeOut 100ms ease-out;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.title {
  grid-area: title;
  color: $color-gray-100;
  font-size: 0.875rem;
  font-weight: 700;
}

.description {
  grid-area: description;
  font-size: 0.75rem;
  color: $color-gray-100;
  font-weight: 400;
}

.action {
  grid-area: action;
  font-size: 0.75rem;
}
