@use "abstracts" as *;

.container {
  cursor: text;
  
  width: 4.5rem;
  height: 4.5rem;
  
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  outline: none;

  &:not([data-variant="active"]) {
    cursor: not-allowed;
  }
  
  $items: (
    active: $color-pink-200,
    inactive: $color-pink-transparent-900, 
    incorrect: $color-pink-transparent-300, 
    correct: $color-green-900, 
    bad-position: $color-pink-900
  );
    
  @each $item, $color in $items {
    &[data-variant="#{$item}"] {
      background-color: #{$color};
    }
  }
}
